/* html, body {
    margin: 0;
    padding: 0;
} */

.parent {
    width: 980px;
    height: 350px;
    background-color: #bbc9b8;
    filter: brightness(90%);
    background-clip: border-box;
    border: 8px dotted #84589b;
    border-radius: 15px;
    position: relative;
}

h2 {
    text-align: center;
    margin-top: 20px;
    font-size: xxx-large;
    text-transform: uppercase;
}

.child-child1 {
    width: 350px;
    height: 250px;
    top: 0px;
    background-color: #569b96;
    background-clip: border-box;
    border-color: #84589b;
    border-width: 5px;
    border-style: dashed;
    border-radius: 15px;
    position: absolute;

}

.child-child2 {
    width: 370px;
    height: 250px;
    bottom: -8px;
    left: 270px;
    background-color: #b09db1;
    background-clip: border-box;
    border-color: #84589b;
    border-width: 5px;
    border-style: dashed;
    border-radius: 15px;
    position: absolute;

}

.child-child3 {
    width: 350px;
    height: 250px;
    top: 40px;
    right: 25px;
    background-color: #babb8b;
    background-clip: border-box;
    border-color: #84589b;
    border-width: 5px;
    border-style: dashed;
    border-radius: 15px;
    position: absolute;

}