/* body {
    padding: 0;
    margin: 0;
} */

.navBar {
    list-style: none;
    background-color: yellow;
    padding: 15px;
    margin: 0;
    text-align: center;

}

/* .navBar li {
    display: inline-block;
} */

.navBar a {
    display: inline-block;
    width: 100px;
    text-align: center;
}

/* .navBar a:hover{
    background-color: rgb(158, 150, 150);
} */

