body {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;;
}

header {
    background-color: yellow;
    height: 80px;
    width: 100%;
}

header ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    margin-top: 20px;
    display: inline-block;
    margin-right: 25px;
}

a {
    display: block;
}

li:last-child {
    margin-right: 0;
}


