@media screen and (max-width: 720px) {
    .container {
        width: 50%;
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.8fr 0.4fr 0.4fr 0.5fr;
        grid-template-areas: 
        "header"
        "lorem"
        "aside1"
        "aside2"
        "footer";
    }
    
    .header {
        background-color: aqua;
    }

    .footer {
        background-color: blue;
    }

    .aside1 {
        background-color: aquamarine;
    }

    .aside2 {
        background-color: brown;
    }

    .lorem {
        background-color: chartreuse;
    }
}

@media print {
    .container {
        display: none;
        background-color: white;
        color: black;
    }
}

body, html {
    margin: 0;
    padding: 0;
}

/* .container {
    width: 600px;
    height: 200px;
    display: grid;
    grid-template-columns: 100px 400px 100px;
    grid-template-rows: 30px auto 30px;
    text-align: center;
    
}

.header {
    grid-row: 1;
    grid-column: 1/span 3;
    background-color: #ed6d52;
}

.footer {
    grid-row: 3;
    grid-column: 1/span 3;
    background-color: #a8eb99;
}

.aside1 {
    grid-column: 1;
    grid-row: 2;
    background-color: #f9d748;
}

.lorem {
    grid-column: 2;
    grid-row: 2;
    background-color: #55bdf9;
}

.aside2 {
    grid-column: 3;
    grid-row: 2;
    background-color: #ee73b2;
} */


.container {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    grid-template-rows: 0.3fr 1.5fr 0.3fr;
    grid-template-areas: 
    "header header header"
    "aside1 lorem aside2"
    "footer footer footer";
    text-align: center;
}

.header {
    grid-area: header;
    background-color: #ed6d52;
}

.footer {
    grid-area: footer;
    background-color: #a8eb99;
}

.aside1 {
    grid-area: aside1;
    background-color: #f9d748;
}

.lorem {
    grid-area: lorem;
    background-color: #55bdf9;
}

.aside2 {
    grid-area: aside2;
    background-color: #ee73b2;
}