@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, 
body {
    border: 0;
    margin: 0;
    font-family: "Inter", sans-serif;

}

.calculator-standard {
    background-color: #e6e6e6;
    width: 580px;
    height: 900px;
    display: grid;
}

.header {
    width: 565px;
    height: 30px;
    display: grid;
    grid-template-columns: 430px 50px 50px 20px;
    grid-row: 1;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: grey;
}

.menu-row {
    width: 565px;
    height: 70px;
    display: grid;
    grid-template-columns: 70px 150px 295px 50px;
    grid-row: 2;
    margin-left: 15px;
    margin-top: 10px;
    font-size: 25px;
}

.total {
    width: 565px;
    height: 100px;
    grid-row: 3;
    font-size: 60px;
    text-align: end;
}

.m-row {
    display: grid;
    width: 565px;
    height: 30px;
    margin-left: 15px;
    grid-row: 4;
    grid-template-columns: 100px 100px 100px 100px 100px 55px;
    padding-top: 10px;
}

.mc, .mr, .m {
    color: grey;
}

.m-plus, .m-minus, .ms {
    font-weight: 500;
}

.bottom {
    display: grid;
    width: 565px;
    height: 610px;
    grid-template-columns: 137.5px 137.5px 137.5px 137.5px;
    font-size: 30px;
    grid-gap: 3px;
    border: 8px solid #e6e6e6;
    box-sizing: border-box;
}

.bottom > * {
    background-color: #f0f0f0;
}

.bottom > div {
    padding: 30px 0;
    text-align: center;
}

.calculator-key {
    background-color: white;
}

.equal {
    background-color: #8abadf;
}