html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    height: 900px;
    background-color: #2a2928;
    display: grid;
    grid-template-columns: 50px 350px 300px;
}

.sidebar {
    width: 60px;
    height: 900px;
    color: white;
    display: grid;
    grid-template-rows: 50px auto 70px 70px 70px 70px 70px;
    grid-column: 1;
    margin-left: 20px;
    padding-top: 20px;
}

.recently-added {
    display: inline-block;
    width: 350px;
    height: 880px;
    grid-template-rows: repeat(40,70px);
    grid-column: 2;
    margin-top: 10px;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: start;
}

.box {
    background-color:#0078d7;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

a {
    display: block;
    text-decoration: none;
    padding: 5px 2px;
    color: white;
}

.box-1 {
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px; 
    background-color: #2a2928;
    grid-gap: 3px;

}


.box-1 > div {
    background-color: #0078d7;
    text-align: center;
    padding: 15px;
}


.productivity {
    color: white;
    margin: 20px;
}

.box-2 {
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px; 
    background-color: #2a2928;
    grid-gap: 3px;
}

.box-2 > a {
    background-color: #0078d7;
    text-align: center;
    padding: 15px;
}


.explore {
    color: white;
    margin-top: 40px;
}

.box-3 {
    width: 300px;
    height: 200px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px; 
    background-color: #2a2928;
    grid-gap: 3px;
}

.box-3 > a {
    background-color: #0078d7;
    text-align: center;
    padding: 15px;
}


.explore-2 {
    color: white;
    margin-top: 40px;
}


